html {
  font-size: 16px;
  @include mq(xl) {
    font-size: 1.4vw;
  }
  @include mq(md) {
    font-size: 2.4vw;
  }
  @include mq(sm) {
    font-size: 3.4vw;
  }
}

a:hover {
  opacity: 0.8;
  img {
    opacity: 0.8;
  }
}

p {
  margin-bottom: 0;
}

.width-base {
  max-width: 1140px;
  width: 100%;
  padding-left: 3%;
  padding-right: 3%;
  margin-right: auto;
  margin-left: auto;
}

img {
  max-width: 100%;
  height: auto;
}

.page-navigation {
  display: flex;
  flex-wrap: wrap;
}

.page-navigation__item {
  &:not(:last-child) {
    margin-right: rem(10px);
  }
}

.tag {
  display: inline-block;
  color: #3490dc;
  border: 1px solid #3490dc;
  padding: rem(5px) rem(8px);
  border-radius: 6px;
  margin-left: rem(3px);
  margin-right: rem(3px);
  margin-top: rem(6px);
  line-height: 1;
  &:hover {
    color: #fff;
    background-color: #3490dc;
    text-decoration: none;
  }
}

.card {
  width: 100%;
}
