// 一覧
.list-box-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &::after {
    content: "";
    width: 24%;
    height: 0;
    @include mq(md) {
      width: 32%;
    }
    @include mq(md) {
      content: none;
    }
  }
  &::before {
    content: "";
    width: 24%;
    order: 1;
    @include mq(md) {
      content: none;
    }
  }
}

.list-box {
  width: 24%;
  border: 1px solid #707070;
  border-radius: 5px;
  margin-top: rem(30px);
  overflow: hidden;
  @include mq(md) {
    width: 32%;
  }
  @include mq(sm) {
    width: 49%;
  }
}

.list-box__content {
  padding: rem(10px);
}

.list-box__image {
  img {
    object-fit: cover;
    width: 100%;
    height: rem(200px);
  }
}

.list-box__title-link {
  font-size: rem(20px);
  color: #333;
  &:hover {
    color: #333;
  }
}

// 詳細ページ
.show-content {
  display: flex;
  justify-content: space-between;
  padding-top: rem(30px);
}

.show-content__primary {
  width: 65%;
}

.show-content__secondary {
  width: 30%;
}

.site-url {
  margin-top: rem(20px);
}
