// 一覧
.list-box-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &::after {
    content: "";
    width: 24%;
    height: 0;
    @include mq(md) {
      width: 32%;
    }
    @include mq(sm) {
      content: none;
    }
  }
  &::before {
    content: "";
    width: 24%;
    order: 1;
    @include mq(md) {
      content: none;
    }
  }
}

.list-box {
  width: 24%;
  border: 1px solid #707070;
  border-radius: 5px;
  margin-top: rem(30px);
  overflow: hidden;
  @include mq(md) {
    width: 32%;
  }
  @include mq(sm) {
    width: 48%;
  }
}

.list-box__content {
  padding: rem(10px);
}

.list-box__image {
  img {
    object-fit: cover;
    width: 100%;
    height: rem(200px);
    @include mq(md) {
      height: rem(150px);
    }
  }
}

.list-box__title-link {
  color: #333;
  &:hover {
    color: #333;
  }
}

// 詳細ページ
.show-content {
  display: flex;
  justify-content: space-between;
  padding-top: rem(30px);
  @include mq(sm) {
    display: block;
  }
}

.show-content__primary {
  width: 60%;
  @include mq(sm) {
    width: 100%;
  }
}

.show-content__secondary {
  width: 37%;
  @include mq(sm) {
    width: 100%;
    margin-top: rem(50px);
  }
}

.site-url {
  margin-top: rem(20px);
}

.show-content__comment {
  margin-top: rem(30px);
}

.tag-page-box {
  display: flex;
  justify-content: space-between;
  margin-top: rem(10px);
}

.tag-page-box__image {
  width: 27%;
}

.tag-page-box__content {
  width: 70%;
}

.tag-page-box__title-link {
  font-size: rem(20px);
  color: #333;
  &:hover {
    color: #333;
  }
}

.tag-page-box__comment {
  font-size: rem(14px);
}

// 新規・編集
.custom-file-label::after {
  content: "選択";
}
